/* Media query pour les écrans d'au moins 768px de large */
@media (min-width: 768px) {
  body {
    padding: 40px;
  }

  .container {
    width: 80%;
    margin: auto;
    max-width: 960px;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr; /* Cela force les éléments à s'aligner verticalement */
    gap: 20px;
  }
}
